<div>
  <link href="./country-select.css" rel="stylesheet" />
  <div class="country-select-container">
    <select required class="country-select-select">
      <option value="Philippines">Philippines</option>
      <option value="USA">USA</option>
      <option value="Canada">Canada</option>
      <option value="Saudi Arabia">Saudi Arabia</option>
      <option value="Malaysia">Malaysia</option>
      <option value="United Arab Emirates">United Arab Emirates</option>
      <option value="Japan">Japan</option>
      <option value="Australia">Australia</option>
      <option value="Italy">Italy</option>
      <option value="China">China</option>
      <option value="Singapore">Singapore</option>
      <option value="Others">Others</option>
    </select>
  </div>
</div>
