<div>
  <link href="./service-card.css" rel="stylesheet" />
  <div class="service-card-blog-post-card">
    <img
      alt="image"
      src="https://images.unsplash.com/photo-1570129477492-45c003edd2be?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDF8fHJlYWxlc3RhdGV8ZW58MHx8fHwxNjcwNjI0NDUz&ixlib=rb-4.0.3&w=1500"
      class="service-card-image"
    />
    <div class="service-card-container">
      <span class="service-card-text CardHeader"><span>Real Estate</span></span>
      <span class="service-card-text1 CardText">
        <span>
          Have you been dreaming of moving to a generally bigger house, which is
          fairly significant. Then now''s basically your chance to actually make
          that dream happen! Purchase really your dream house by taking
          advantage of the member's discounted price exclusively offered by the
          biggest actually real estate developers in the country!
        </span>
      </span>
    </div>
  </div>
</div>
